<ion-view view-title="Producto">
  <ion-content>
    <ion-list>
<!--       <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="chat in chats" type="item-text-wrap" href="#/tab/chats/{{chat.id}}">
        <img ng-src="{{chat.face}}">
        <h2>{{chat.name}}</h2>
        <p>{{chat.lastText}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>
        <ion-option-button class="button-assertive" ng-click="remove(chat)">
          Delete
        </ion-option-button>
      </ion-item> -->
      <div class="list card">

  <div class="item item-avatar">
    <h2>McLaren 650S</h2>
  </div>

  <div class="item item-body">
    <img class="full-image" src="img/carro.jpg" style="width: 100%;height: 70%; ">
    <p>
El McLaren 650S se descubre en toda su magnificiencia revelando los datos con respecto a sus prestaciones, que echando un ojo rápido no hacen sino otra cosa que subrayar la idea de fondo de esta nueva creación en busca de acercarse lo máximo posible a las últimas creaciones de sus más directos rivales con el Ferrari 458 Speciale a la cabeza.
    </p>
    <p>
      Características:
    </p>
    <ul>
      <li style="color: #666; font-size: 14px;">-Velocidad Máxima: 333</li>
      <li style="color: #666; font-size: 14px;">-Aceleración 0-100 km/h (s): 3,0</li>
      <li style="color: #666; font-size: 14px;">-Consumo medio (l/100 km): 11,7</li>
      <li style="color: #666; font-size: 14px;">-Tipo de Carrocería: Coupé</li>
      <li style="color: #666; font-size: 14px;">-Número de cilindros: 8 - En V</li>

    </ul>
    <p>
      <a href="#" class="subdued">1 Like</a>
      <a href="#" class="subdued">5 Comments</a>
    </p>
  </div>

  <div class="item tabs tabs-secondary tabs-icon-left">
    <a class="tab-item" href="#">
      <i class="icon ion-thumbsup"></i>
      Like
    </a>
    <a class="tab-item" href="#">
      <i class="icon ion-chatbox"></i>
      Comment
    </a>
    <a class="tab-item" href="#">
      <i class="icon ion-share"></i>
      Share
    </a>
  </div>
    </ion-list>
  </ion-content>
</ion-view>
